version: '3.8'

services:
  mcp:
    build:
      context: ../mcp-server
      dockerfile: Dockerfile.dev
    container_name: mcp_agent
    env_file:
      - .env
    ports:
      - "5001:5001"
    networks:
      - agent-network

  agent:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - mcp
    networks:
      - agent-network

networks:
  agent-network:
    driver: bridge
